.navbar-brand{
   font-weight: 900;
}
.category {
    padding-left: 20px;
    padding-top: 10px;
    border: 1px solid rgb(158, 167, 192);
    border-style: ridge;
    height: 900px;
}
.pictures {
    padding: 10px 0 20px 20px;
}
main {
    padding-left: 7px;
}
.card {
    margin: 15px;
}